<section id="contact" class="contact-section">
  <div class="container">
    <h2 class="contact-heading fw-bolder" data-aos="fade-up" data-aos-duration="1000">Contact Me</h2>
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="contact-form-card p-3" data-aos="fade-right" data-aos-duration="1000">
          <form  id="contactForm" method="POST" action="https://api.web3forms.com/submit">
            <input type="hidden" name="access_key" value="f2aeaba3-a5f1-4b0d-b8bb-7567a584261f">
            <input type="hidden"  value="false">

            <div class="mb-4">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" name="name" placeholder="Your Name" required>
            </div>

            <div class="mb-4">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" name="email" placeholder="Your Email" required>
            </div>

            <div class="mb-4">
              <label for="message">Message</label>
              <textarea id="message" class="form-control" name="message" rows="4" placeholder="Your Message" required></textarea>
            </div>

            <button type="submit" class="btn-gradient">Send</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
        <div class="contact-info ps-lg-4">
          <h4 class="fw-bold">Let’s talk how I can help you!</h4>
          <p>If you like my work and want to avail my services, drop me a message using the contact form.</p>
          <p>Or get in touch using my email, phone number, or location.</p>
          <p>
            <i class="fas fa-envelope me-2"></i>
            <strong>Email:</strong> sutharhepin2610@gmail.com
          </p>
          <p>
            <i class="fas fa-phone me-2"></i>
            <strong>Phone:</strong> +91-
          </p>
          <p>
            <i class="fas fa-map-marker-alt me-2"></i>
            <strong>Location:</strong> Visnagar, Mehsana, India
          </p>
        </div>
        <div class="social-icons mt-4 ps-lg-4">
          <a href="https://www.instagram.com/hepin_suthar.26" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/hepin-suthar-ab2446301" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/HepinSuthar" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="GitHub">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
