<section id="education" class="py-4 education-section">
  <div class="container">
    <h2 class="text-center fw-bold mb-5 text-dark" data-aos="fade-up" data-aos-duration="1000">Educations</h2>
    <div class="row align-items-center">
      <div class="col-lg-6 text-center mb-3" data-aos="fade-right"  data-aos-duration="1000">
        <img src="../assets/images/education.png" alt="Education" class="img-fluid">
      </div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
        <div class="edu-card mb-4 p-4">
          <p class="edu-year">2024 - 2027</p>
          <h5 class="fw-bold text-dark mb-1">BACHELOR OF TECHNOLOGY (IT)</h5>
          <p class="mb-0 text-muted">Sankalchand Patel College of Engineering</p>
          <p class="mb-0 text-muted">Visnagar, Mehsana</p>
        </div>
        <div class="edu-card mb-4 p-4">
          <p class="edu-year">2021 - 2024</p>
          <h5 class="fw-bold text-dark mb-1">DIPLOMA IN COMPUTER ENGINEERING</h5>
          <p class="mb-0 text-muted">Swami Sachchidanand Polytechnic College</p>
          <p class="mb-0 text-muted">Visnagar, Mehsana</p>
        </div>
        <div class="edu-card mb-4 p-4">
          <h5 class="fw-bold text-dark mb-1">SECONDARY SCHOOL CERTIFICATE</h5>
          <p class="mb-0 text-muted">Shetshri M. L. & Shethshri M. H. Sardar Patel Vidyalaya</p>
          <p class="mb-0 text-muted">Visnagar, Mehsana</p>
        </div>
      </div>
    </div>
  </div>
</section>