<footer class="bg-body-tertiary pt-5 pb-3">
  <div class="container">
    <div class="row">

      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
        <h5 class="fw-bold text-dark">Hepin Suthar</h5>
        <p class="text-dark">Frontend Developer | Making the web more open and interactive.</p>
      </div>

      <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
        <h5 class="fw-bold text-dark">Quick Links</h5>
        <ul class="list-unstyled ">
          <li><a href="#about" class="text-dark text-decoration-none">About</a></li>
          <li><a href="#skill" class="text-dark text-decoration-none">Skills</a></li>
          <li><a href="#education" class="text-dark text-decoration-none">Education</a></li>
          <li><a href="#certificate" class="text-dark text-decoration-none">Certificate</a></li>
          <li><a href="#projects" class="text-dark text-decoration-none">Projects</a></li>
          <li><a href="#contact" class="text-dark text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
        <h5 class="fw-bold text-dark">Contact Me</h5>
        <p class="text-dark"><i class="fas fa-envelope me-2"></i> sutharhepin2610@gmail.com</p>
        <p class="text-dark"><i class="fas fa-phone me-2"></i> +91-XXXXXXXXXX</p>
        <p class="text-dark"><i class="fas fa-map-marker-alt me-2"></i> Visnagar, Mehsana, India</p>
        <div class="mt-2 footer-social-icons">
          <a href="https://www.instagram.com/hepin_suthar.26" target="_blank" class="text-dark me-3">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
          <a href="https://www.linkedin.com/in/hepin-suthar-ab2446301" target="_blank" class="text-dark me-3">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="https://github.com/HepinSuthar" target="_blank" class="text-dark">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="bg-dark" >
    <div class="text-center text-dark">
      &copy; 2025 Hepin Suthar. All rights reserved.
    </div>
  </div>
</footer>
