<section id="home" class="banner_wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 banner-content" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="950">
        <h2 class="text-uppercase hello-text" >
          Hello<img src="/assets/images/hand.png" alt="👋" class="hand-wave ms-2 mb-2">
        </h2>
        <h1 class="text-uppercase main-title">
          I am <span id="author"></span>
        </h1>
        <h5 class="sub-title">
          A passionate Frontend Developer 🚀 with experience in building responsive and
          user-friendly web applications using HTML, Tailwind CSS, JavaScript, and other modern web technologies.
        </h5>
        <div class="social-icons mt-4">
          <a href="https://www.instagram.com/hepin_suthar.26" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/hepin-suthar-ab2446301" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/HepinSuthar" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="GitHub">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <div class="mt-4">
          <a href="#" class="btn-gradient ">Contact Us</a>
          <a href="#" class="btn-outline-purple ms-4">Get Resume</a>
        </div>
      </div>

      <!-- Right Image -->
      <div class="col-lg-6 col-md-6 text-center">
        <div class="top-right-img" data-aos="zoom-in" data-aos-duration="3000">
          <img src="../assets/images/hello.svg" alt="hero" class="img-fluid">
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1758007915">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
          </svg>
      </div>
    </div>
  </div>
</section>
