<section id="skill" class="py-5 bg-light">
  <div class="container text-center" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="fw-bold mb-5 mt-4">My Skills</h2>
    <div class="skills-wrapper mb-4 p-2">
      <div class="skills-row">
        <div class="skill-card"><img src="assets/icons/html.svg" width="50"><h6>HTML</h6></div>
        <div class="skill-card"><img src="assets/icons/css.svg" width="50"><h6>CSS</h6></div>
        <div class="skill-card"><img src="assets/icons/javascript.svg" width="50"><h6>JavaScript</h6></div>
        <div class="skill-card"><img src="assets/icons/bootstrap.svg" width="50"><h6>Bootstrap</h6></div>
        <div class="skill-card"><img src="assets/icons/tailwind.svg" width="50"><h6>Tailwind</h6></div>
        <div class="skill-card"><img src="assets/icons/python.svg" width="50"><h6>Python</h6></div>
        <div class="skill-card"><img src="assets/icons/C.svg" width="50"><h6>C</h6></div>
        <div class="skill-card"><img src="assets/icons/c++.svg" width="50"><h6>C++</h6></div>
        <div class="skill-card"><img src="assets/icons/git.svg" width="50"><h6>Git</h6></div>
        <div class="skill-card"><img src="assets/icons/github.svg" width="50"><h6>Github</h6></div>
        <div class="skill-card"><img src="assets/icons/mysql.svg" width="50"><h6>MySQL</h6></div>
      </div>
      <div class="skills-row">
        <div class="skill-card"><img src="assets/icons/html.svg" width="50"><h6>HTML</h6></div>
        <div class="skill-card"><img src="assets/icons/css.svg" width="50"><h6>CSS</h6></div>
        <div class="skill-card"><img src="assets/icons/javascript.svg" width="50"><h6>JavaScript</h6></div>
        <div class="skill-card"><img src="assets/icons/bootstrap.svg" width="50"><h6>Bootstrap</h6></div>
        <div class="skill-card"><img src="assets/icons/tailwind.svg" width="50"><h6>Tailwind</h6></div>
        <div class="skill-card"><img src="assets/icons/python.svg" width="50"><h6>Python</h6></div>
        <div class="skill-card"><img src="assets/icons/C.svg" width="50"><h6>C</h6></div>
        <div class="skill-card"><img src="assets/icons/c++.svg" width="50"><h6>C++</h6></div>
        <div class="skill-card"><img src="assets/icons/git.svg" width="50"><h6>Git</h6></div>
        <div class="skill-card"><img src="assets/icons/github.svg" width="50"><h6>Github</h6></div>
        <div class="skill-card"><img src="assets/icons/mysql.svg" width="50"><h6>MySQL</h6></div>
      </div>
    </div>
  </div>
</section>